<div class="jumbotron">
</div>
<div class="container">
	<h4>About the App</h4>
	<p>
		Specialised in organised creativity and supported by the ancient values della Cosa Nostra, this famiglia - that treats it's clients as such - doesn't leave problems unsolved or creativity to be desired regarding it's executions.
	</p>


	<h4>About the author</h4>
	<p>
		Specialised in organised creativity and supported by the ancient values della Cosa Nostra, this famiglia - that treats it's clients as such - doesn't leave problems unsolved or creativity to be desired regarding it's executions.
	</p>


	<h4>About Funnyhow: the "advertising" agency</h4>
	<p>
		Specialised in organised creativity and supported by the ancient values della Cosa Nostra, this famiglia - that treats it's clients as such - doesn't leave problems unsolved or creativity to be desired regarding it's executions.
	</p><p>
		We were born on the streets, bastard children of creativity and strategy. Even tough technology is our weapon of choice, we're still men of the people. Our mission is to bring more honour and success to brands that are a part of our family, moving who and what it takes to push the advertising world boundaries further.
	</p><p>
		Basically: Your business is our business
	</p>

</div>