<% if !current_user %>
	<form method='post' action='/session' class="navbar-form navbar-right">
	    <div class="form-group input-group-sm">
	      <input type="text" placeholder="Email" name='email' class="form-control">
	    </div>
	    <div class="form-group input-group-sm">
	      <input type="password" placeholder="Password" name='password' class="form-control">
	    </div>
		<button type="submit" class="btn btn-success btn-s">Sign in</button>
	</form>
<% else %>
		<form method='post' action='/session' class="navbar-form navbar-right navbar-text">
			<a href='/userprofile'>Welcome, <%= current_user.username %>!</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Sign out' class="btn btn-success btn-xs">
		</form>
<% end %>