<!-- <div class="jumbotron">
</div> -->

  <!-- PUTTING NOTICE  OF SIGN OUT -->	
		<% if flash[:notice] %>
	      <div class="container">
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    	<div id="notice">
		      		<%= flash[:notice] %>
		    	</div>
		    </div>
		  </div>
		<% end %>
		

	<!-- PUTTING LOGIN AND REGISTERING ERRORS -->
	    <% if flash[:errors] && !flash[:errors].empty? %>
	    	<div class="container">
		   		<div class="alert alert-danger alert-dismissable">
		   			<button type="button" class="close" data-dismiss="alert" aria-hidden="
		   						 	 	true">&times;</button>
			   		Sorry, there were the following problems with the form. 
			   		<ul id='errors'>
			 	 		<% flash[:errors].each do |error| %>
			 	 		<li><%= error %></li>
			 	 		<% end %>
			 	 	</ul>
		 	 	</div>
	 		</div>
	 	 <% end %>
